extends layout

block head
  .container.bonjour.bonjour-head
    .row
      .col-sm-6.offset-sm-0.col-md-5.offset-md-1.col-lg-3.offset-lg-3.text-xs-center
        p(style='margin-top: 1rem') Bienvenue au défi de l'équipe:
      .col-sm-6.col-md-4.col-lg-2.text-xs-center
        img.img-fluid.img-thumbnail(src='/resources/bubblesugar.jpg', style='height: 200px')
        p.lead bubblesugar

block cont
  .container.bonjour.bonjour-cont
    h2 Épreuves
    table.table
      thead
        tr
          th statut
          th durée
          th lien
      tbody
        tr
          td
            if step1Result
              #{step1Result}
            else
              À faire
          td
            if step1Duration
              #{step1Duration}
            else
            |  --:--
          td
            if step1Url
              a(href="#{step1Url}") Épreuve 1
            else
              Épreuve 1
        tr
          td
            if step2Result
              #{step2Result}
            else
              À faire
          td
            if step2Duration
              #{step2Duration}
            else
            |  --:--
          td
            if step2Url
              a(href=step2Url) Épreuve 2
            else
              Épreuve 2
        tr
          td
            if step3Result
              #{step3Result}
            else
              À faire
          td
            if step3Duration
              #{step3Duration}
            else
            |  --:--
          td
            if step3Url
              a(href=step3Url) Épreuve 3
            else
              Épreuve 3
        tr
          td
            if step4Result
              #{step4Result}
            else
              À faire
          td
            if step4Duration
              #{step4Duration}
            else
            |  --:--
          td
            if step4Url
              a(href=step4Url) Épreuve 4
            else
              Épreuve 4

    .launch-section
      p.text-xs-center
        unless step1Result
          a.btn.btn-secondary(href='/questionnaire') Commencer
