extends layout

block head
  .container.bonjour.bonjour-head
    .row
      .col-sm-6.offset-sm-3.text-xs-center
        p(style='margin-top: 1rem') Bienvenue au défi de l'équipe:
        img.img-fluid.img-thumbnail(src='/resources/bubblesugar.jpg', style='height: 200px')
        p.lead bubblesugar

block cont
  .container.bonjour.bonjour-cont
    h2 Épreuves
    table.table
      thead
        tr
          th statut
          th durée
          th lien
      tbody
        tr
          td
            if step1Result
              span #{step1Result}
            else
              span À faire
          td
            if step1Duration
              span #{step1Duration}
            else
              span --:--
          td
            if step1Url
              a(href="#{step1Url}") Épreuve 1
            else
              span Épreuve 1
        tr
          td
            if step2Result
              span #{step2Result}
            else
              span À faire
          td
            if step2Duration
              span #{step2Duration}
            else
              span --:--
          td
            if step2Url
              a(href=step2Url) Épreuve 2
            else
              span Épreuve 2
        tr
          td
            if step3Result
              span #{step3Result}
            else
              span À faire
          td
            if step3Duration
              #{step3Duration}
            else
              span --:--
          td
            if step3Url
              a(href=step3Url) Épreuve 3
            else
              span Épreuve 3
        tr
          td
            if step4Result
              span #{step4Result}
            else
              span À faire
          td
            if step4Duration
              span #{step4Duration}
            else
              span --:--
          td
            if step4Url
              a(href=step4Url) Épreuve 4
            else
              span Épreuve 4

    .launch-section
      unless step1Result
        p.text-xs-center
          a.btn.btn-secondary(href='/questionnaire') Commencer
      if step4Result
        .row
          .col-sm-8.offset-sm-2.alert.alert-success.text-xs-center
            h3 Félicitations
            p.lead Vous avez complété toutes les épreuves !!!
            p Imprimez cette page comme preuve que vous avez terminé cette chasse au trésor.
            button.btn.btn-success(onclick='window.print()') Imprimer
