extends layout

block head
  .container-fluid.challenge-head.secret
    .row
      .col-sm-10
        p(style='margin-bottom: .5rem') Épreuve 3:
        h2
          span.mark Déchiffre-moi ça !

block cont
  .challenge-body.secret
    .container-fluid#secretIntroSection
      .row
        .col-sm-8
          h3 On vous demande de saisir des informations et de trouver une clé pour déverrouiller l'étape suivante.
          ul                         
            li
              p La clé est séparée en caractères ordonnés dans une série sensible à la casse.
            li
              p Un caractère est extrait d'un paragraphe de chanson. Le caractère recherché est à quelque part dans un mot que l'on peut déduire d'un mot qui est erroné pour un texte, s'il y en <b>a</b>.
            li
              p Le caractère recherché est, dans le <b>bon</b> mot (donc vous devez trouver le mot erroné et ensuite le bon mot pour le corriger), à la position où on est rendu dans la clé (voir directive suivante).
            li
              p L'ordre des textes <b>contenant des erreurs</b> détermine l'ordre du caractère recherché dans la clé (il y a donc des textes sans erreurs).
            li
              p En plus de la clé, vous devez indiquer le nom de l'artiste ou du groupe associé à la chanson dans les cases <b>Auteur</b> appropriées.
            li
              p Lorsque vous aurez la bonne clé, saisissez-la dans la case à cet effet puis soumettez votre réponse.
            li 
              p Si elle n'est pas bonne, les textes changeront ainsi que le code et la clé; il vous faudra recommencer. Sinon, vous serez à un (autre) pas de la réussite !  
      br
      br
      p.text-xs-center
        button.btn.btn-secondary#secretStartTrigger Commencer cette épreuve

    .container-fluid#textesSection(style='display:none')
      form(action='/secret/decode')
        fieldset.form-group
        .col-sm-10
          h2(style='margin-bottom: .5rem') Textes à déchiffrer :
        .row
          .col-sm-5
            h2 Texte 1
            h3= global.donnees.secret.chansons[0].texte
            div
              span Auteur: 
              input(name='auteur_0' class='input secret-auteur-0 secret-input-auteur-0')
        .row
          .col-sm-5
            h2 Texte 2
            h3= global.donnees.secret.chansons[1].texte
            div
              span Auteur: 
              input(name='auteur_1' class='input secret-auteur-1 secret-input-auteur-1')
        .row
          .col-sm-5
            h2 Texte 3
            h3= global.donnees.secret.chansons[2].texte
            div
              span Auteur: 
              input(name='auteur_2' class='input secret-auteur-2 secret-input-auteur-2')
        .row
          .col-sm-5
            h2 Texte 4
            h3= global.donnees.secret.chansons[3].texte
            div
              span Auteur: 
              input(name='auteur_3' class='input secret-auteur-3 secret-input-auteur-3')
        .row
          .col-sm-5
            h2 Texte 5
            h3= global.donnees.secret.chansons[4].texte
            div
              span Auteur: 
              input(name='auteur_4' class='input secret-auteur-4 secret-input-auteur-4')    
        .row        
          .col-sm-10
            h2(style='margin-bottom: .5rem') Saisir la clé :
            input(name='cle' class='input secret-input secret-input-cle')                                 
            
        button.btn.btn-secondary.btn-lg(type='submit') Soumettre
          
block otherScripts
  script(src='/scripts/secret.js')