extends layout

block head
  .container-fluid.challenge-head.secret
    .row
      .col-sm-10
        p(style='margin-bottom: .5rem') Épreuve 3:
        h2
          span.mark Déchiffre-moi ça !
      .col-sm-2
        p.lead.text-xs-center(style='margin-top: 2rem')
          span#secretTime 10m 00s

block cont
  .challenge-body.secret
    .container-fluid#secretIntroSection
      .row
        .col-sm-8
          p Voici la troisième épreuve de votre défi.
          ul
            li
              p Un code a été chiffré à l'aide d'une clé. C'est ce cryptogramme que vous devrez déchiffrer pour terminer l'épreuve.
            li
              p La clé est séparée en caractères ordonnés dans une série sensible à la casse.
            li
              p Un caractère est extrait d'un paragraphe de chanson. Le caractère recherché est à quelque part dans un mot qui est erroné pour un texte, s'il y en <b>a</b>.
            li
              p Le caractère recherché est, dans le <b>bon</b> mot (donc vous devez trouver le mot erroné et ensuite le bon mot pour le corriger), à la position où on est rendu dans la clé (voir directive suivante).
            li
              p L'ordre des textes <b>contenant des erreurs</b> détermine l'ordre du caractère recherché dans la clé.
            li
              p Le dernier caractère de la clé est activé lorsque le nom des artistes (groupe si non auteur, de son <b>nom civil</b>).
            li
              p Lorsque vous aurez la bonne clé, saisissez-la dans la case à cet effet puis soumettez votre réponse.
            li 
              p Si elle n'est pas bonne, les textes changeront ainsi que le code et la clé; il vous faudra recommencer.
      br
      br
      p.text-xs-center
        button.btn.btn-secondary#secretStartTrigger Commencer cette épreuve

    .container-fluid#textesSection(style='display:none')
      .col-sm-10
          h2(style='margin-bottom: .5rem') Textes à déchiffrer :
      .row
        .col-sm-5
          h2 Texte 1
          h3= global.donnees.secret.chansons[0].texte
          div
            span Auteur: 
            input(name='auteur_0' class='input secret-auteur-0 secret-input-auteur-0')
      .row
        .col-sm-5
          h2 Texte 2
          h3= global.donnees.secret.chansons[1].texte
          div
            span Auteur: 
            input(name='auteur_1' class='input secret-auteur-1 secret-input-auteur-1')
      .row
        .col-sm-5
          h2 Texte 3
          h3= global.donnees.secret.chansons[2].texte
          div
            span Auteur: 
            input(name='auteur_2' class='input secret-auteur-2 secret-input-auteur-2')
      .row
        .col-sm-5
          h2 Texte 4
          h3= global.donnees.secret.chansons[3].texte
          div
            span Auteur: 
            input(name='auteur_3' class='input secret-auteur-3 secret-input-auteur-3')
      .row
        .col-sm-5
          h2 Texte 5
          h3= global.donnees.secret.chansons[4].texte
          div
            span Auteur: 
            input(name='auteur_4' class='input secret-auteur-4 secret-input-auteur-4')
    
    .container-fluid#dechiffrementSection(style='display:none')
      .row        
        .col-sm-10
          h2(style='margin-bottom: .5rem') Saisir la clé :
          form(action='/secret/decode')
            fieldset.form-group
              .row
                .col-sm-5
                  h1 Clé de vigenère
                  div
                    input(name='cle_vigenere' class='input secret-input secret-input-cle')                                  
                .col-sm-5
                  h1 Cryptogramme
                  div
                    span(name='cryptogramme' class='cryptogramme') À venir                  
              button.btn.btn-secondary.btn-lg(type='submit') Soumettre
        .col-sm-10
          p#mauvaiseCle.alert.alert-danger(style="visibility: hidden") Mauvaise clé
        .col-sm-10
          p#dernierCaractere.alert.alert-danger(style="visibility: hidden") Le dernier caractère n'est pas activé
          
block otherScripts
  script(src='/scripts/secret.js')